branches:
  only:
    - master
language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coveralls
# command to run tests
script:
  - nosetests --with-coverage
after_success:
  coveralls
